/* TrackBar */
.dxeTrackBar_MyDefault
{
	user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	visibility: hidden;
}

.dxeDisabled_MyDefault .dxeTBHSys a,
.dxeDisabled_MyDefault .dxeTBVSys a
{
    cursor: default;
}

.dxeTBBarHighlight_MyDefault
{
	font-size: 0;
}

.dxeTBScale_MyDefault, .dxeTBTrack_MyDefault, .dxeTBBarHighlight_MyDefault
{
	cursor: pointer;
}

.dxeTBScale_MyDefault 
{
	z-index: 1;
	font: 11px Tahoma, Geneva, sans-serif;
}
.dxeTBSecondaryDH_MyDefault, .dxeTBMainDH_MyDefault
{
	z-index: 4;
}

.dxeTBHSys
{
	width: 170px;
	height: 41px;
}
.dxeTBVSys
{
	height: 170px;
	width: 41px;
}
.dxeTrackBar_MyDefault.dxeTBBScaleSys.dxeTBVSys
{
	width: 59px;
}
.dxeTrackBar_MyDefault.dxeTBBScaleSys.dxeTBHSys
{	
	height: 59px;
}

.dxeTBTrack_MyDefault 
{
	z-index: 2;
	position: absolute;
}

.dxeTBHSys .dxeTBTrack_MyDefault
{
	background-image:  url('edtTrackBarTrackH.gif');
}
.dxeTBVSys .dxeTBTrack_MyDefault
{
	background-image:  url('edtTrackBarTrackV.gif');
}

.dxeTBHSys .dxeTBTrack_MyDefault, .dxeTBHSys .dxeTBBarHighlight_MyDefault
{
	height: 9px;
}
.dxeTBVSys .dxeTBTrack_MyDefault, .dxeTBVSys .dxeTBBarHighlight_MyDefault
{
	width: 9px;
}

.dxeTBHSys .dxeTBMainDH_MyDefault, .dxeTBHSys .dxeTBSecondaryDH_MyDefault
{	
	top: -5px;
	width:13px;
	height:19px;
}
.dxeTBVSys .dxeTBMainDH_MyDefault, .dxeTBVSys .dxeTBSecondaryDH_MyDefault
{
	left: -5px;
	width:19px;
	height:13px;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBTrack_MyDefault, .dxeTBVSys .dxeTBTrack_MyDefault
{
	left: 6px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBTrack_MyDefault
{
	right: 6px;
	left: auto;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBTrack_MyDefault
{
	bottom: 6px;
	top: auto;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBTrack_MyDefault, .dxeTBHSys .dxeTBTrack_MyDefault
{
	top: 6px;
}

.dxeTBBarHighlight_MyDefault
{
	left: 0px;
	top: 0px;
	position:absolute;
	z-index: 3;
}

.dxeTBHSys .dxeTBBarHighlight_MyDefault
{
	background-image:  url('edtTrackBarBarHighlightH.gif');
}
.dxeTBVSys .dxeTBBarHighlight_MyDefault
{
	background-image:  url('edtTrackBarBarHighlightV.gif');
}

.dxeTBRBLabel_MyDefault, .dxeTBLTLabel_MyDefault
{
	text-align: center;
	color: #A8A8A8;
	cursor: default;
}
.dxeTBSmallTickSys .dxeTBRBLabel_MyDefault, .dxeTBSmallTickSys .dxeTBLTLabel_MyDefault,
.dxeTBLargeTickSys .dxeTBRBLabel_MyDefault, .dxeTBLargeTickSys .dxeTBLTLabel_MyDefault 
{	
	position: absolute;
}

.dxeTBHSys .dxeTBRBLabel_MyDefault,.dxeTBHSys .dxeTBLTLabel_MyDefault
{
	width: 100%;
}

.dxeTBIncBtn_MyDefault, .dxeTBDecBtn_MyDefault
{
}

.dxeTBVSys .dxeTBRBLabel_MyDefault, 
.dxeTBVSys .dxeTBLTLabel_MyDefault
{
	padding-top: 2px;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_MyDefault
{
	margin-left: -4px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBRBLabel_MyDefault, 
.dxeTBVSys .dxeTBBScaleSys .dxeTBLTLabel_MyDefault
{
	right: 0px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBLTLabel_MyDefault, 
.dxeTBVSys .dxeTBBScaleSys .dxeTBRBLabel_MyDefault
{
	left: 0px;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBRBLabel_MyDefault, 
.dxeTBHSys .dxeTBBScaleSys .dxeTBLTLabel_MyDefault
{
	bottom: 0px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBLTLabel_MyDefault, 
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_MyDefault
{
	top: 0px;
}
.dxeTBItem_MyDefault
{
	color: #A8A8A8;
}

.dxeTBHSys .dxeTBItem_MyDefault .dxeTBRBLabel_MyDefault, 
.dxeTBHSys .dxeTBItem_MyDefault .dxeTBLTLabel_MyDefault 
{
	display: inline-block;
	margin-left: 0px!important;
}
.dxeTBHSys .dxeTBRBScaleSys 
.dxeTBItem_MyDefault .dxeTBRBLabel_MyDefault 
{
	padding-top: 12px;
}
.dxeTBHSys .dxeTBLTScaleSys 
.dxeTBItem_MyDefault .dxeTBLTLabel_MyDefault 
{
	margin-top: 8px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_MyDefault .dxeTBRBLabel_MyDefault 
{
	margin-left: 5px;
}

.dxeTBSelectedItem_MyDefault .dxeTBRBLabel_MyDefault,
.dxeTBSelectedItem_MyDefault .dxeTBLTLabel_MyDefault,
.dxeTBSelectedTick_MyDefault .dxeTBRBLabel_MyDefault, 
.dxeTBSelectedTick_MyDefault .dxeTBLTLabel_MyDefault
{
	color: #C3C3C3;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBItem_MyDefault
{
	text-align: left;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_MyDefault
{
	text-align: right;
}

.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_MyDefault
{
	text-align: center;
}

.dxeTBHSys .dxeTBItem_MyDefault
{
	background-image:  url('edtTrackBarLargeTickH.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBItem_MyDefault
{
	background-image:  url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBItem_MyDefault 
{
	background-image:  url('edtTrackBarLargeTickV.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_MyDefault
{
	background-image:  url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBHSys .dxeTBLargeTick_MyDefault
{
	background-image:  url('edtTrackBarLargeTickH.gif');
}
.dxeTBVSys .dxeTBLargeTick_MyDefault
{
	background-image: url('edtTrackBarLargeTickV.gif');
}
.dxeTBHSys .dxeTBSmallTick_MyDefault
{
	background-image: url('edtTrackBarSmallTickH.gif');
}
.dxeTBVSys .dxeTBSmallTick_MyDefault
{
	background-image: url('edtTrackBarSmallTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBLargeTick_MyDefault
{
	background-image: url('edtTrackBarDoubleLargeTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBLargeTick_MyDefault
{
	background-image: url('edtTrackBarDoubleLargeTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBSmallTick_MyDefault
{
	background-image: url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBSmallTick_MyDefault
{
	background-image: url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBVSys .dxeTBIncBtn_MyDefault, .dxeTBVSys .dxeReversedDirectionSys .dxeTBDecBtn_MyDefault
{
	bottom: 0px;
	top: auto;
}
.dxeTBVSys .dxeTBDecBtn_MyDefault, .dxeTBVSys .dxeReversedDirectionSys .dxeTBIncBtn_MyDefault
{
	top: 0px;
	bottom: auto;
}
.dxeTBHSys .dxeTBDecBtn_MyDefault, .dxeTBHSys .dxeReversedDirectionSys .dxeTBIncBtn_MyDefault
{
	left: 0px;
	right: auto;
}
.dxeTBHSys .dxeTBIncBtn_MyDefault, .dxeTBHSys .dxeReversedDirectionSys .dxeTBDecBtn_MyDefault
{
	right: 0px;
	left: auto;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBDecBtn_MyDefault, 
.dxeTBVSys .dxeTBBScaleSys .dxeTBIncBtn_MyDefault
{
	margin-left: -10px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBDecBtn_MyDefault,
.dxeTBHSys .dxeTBBScaleSys .dxeTBIncBtn_MyDefault
{
	margin-top: -10px;
	top: 50%;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBTrack_MyDefault
{ 
	margin-left: -4px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBTrack_MyDefault
{ 
	margin-top: -4px;
	top: 50%;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBDecBtn_MyDefault, 
.dxeTBVSys .dxeTBLTScaleSys .dxeTBIncBtn_MyDefault
{
	right: 0px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBDecBtn_MyDefault, 
.dxeTBHSys .dxeTBLTScaleSys .dxeTBIncBtn_MyDefault
{
	bottom: 0px;
}

.dxeTBValueToolTip_MyDefault,
div.dxeHelpText_MyDefault
{
	padding: 3px 8px 4px 8px;
    display: inline;
    position: absolute;
    background: white;
    border-radius: 3px;
    z-index: 41998;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #A8A8A8;
    font: 12px Tahoma, Geneva, sans-serif;
}
td.dxeHelpText_MyDefault {
    visibility: visible;
    color: #9F9F9F;
    font: 11px Tahoma, Geneva, sans-serif;
}
td.dxeHelpText_MyDefault.dxeHHelpTextSys {
    padding: 0 6px;
}
td.dxeHelpText_MyDefault.dxeVHelpTextSys {
    padding: 2px 0;
}

/* Loading */
.dxeLoadingDiv_MyDefault
{
	background: White none;
	opacity: 0.85;
	filter: alpha(opacity=85);
}
.dxeLoadingDivWithContent_MyDefault
{
	background: White none;
	opacity: 0.01;
	filter: alpha(opacity=1);
}

.dxeLoadingPanel_MyDefault
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #303030;
}
.dxeLoadingPanelWithContent_MyDefault
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #303030;
	background: #FFFFFF none;
	border: 1px solid #D6D6D6;
}

.dxeLoadingPanel_MyDefault td.dx, 
.dxeLoadingPanelWithContent_MyDefault td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}

.dxeButtonEditSys .dxic .dxeLoadingDiv_MyDefault
{
	opacity: 1!important;
	filter: alpha(opacity=100)!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_MyDefault
{
    background-color: transparent!important;
    font: normal 0px arial, verdana!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_MyDefault td.dx
{
	padding: 0px!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_MyDefault td.dx > span
{
	display: none;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_MyDefault td.dx > img
{
	height: 15px;
    width: auto;
    vertical-align: middle;
}

.dxeReadOnly_MyDefault
{
}
.dxeBase_MyDefault
{
	font: 12px Tahoma, Geneva, sans-serif;
}
.dxeBase_MyDefault label /*Bootstrap correction*/
{
    font-weight: normal;
    margin-bottom: 0px;
    display: inline;
}
td.dxic
{
	font-size: 0;
}
/* InternalCheckBox */
.dxeIRBFocused_MyDefault
{
	border: 1px dotted #ffb100;
	margin: 0px!important;
}
.dxeIRadioButton_MyDefault 
{
}
/* -- ErrorFrame -- */
.dxeErrorCell_MyDefault,
.dxeErrorCell_MyDefault td
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: Red;
}
.dxeErrorCell_MyDefault
{
	padding-left: 4px;
	padding-right: 5px;
}
.dxeErrorFrameWithoutError_MyDefault
{
	border: 1px solid Red;
}
.dxeErrorFrameWithoutError_MyDefault .dxeControlsCell_MyDefault,
.dxeErrorFrameWithoutError_MyDefault.dxeControlsCell_MyDefault
{
	padding: 2px;
}

.dxeEditArea_MyDefault
{
	border: 1px solid #A0A0A0;
}
.dxeEditArea_MyDefault,
input[type="text"].dxeEditArea_MyDefault, /*Bootstrap correction*/
input[type="password"].dxeEditArea_MyDefault /*Bootstrap correction*/
{
    font: 12px Tahoma, Geneva, sans-serif;
}
input[type="text"].dxeEditArea_MyDefault, /*Bootstrap correction*/
input[type="password"].dxeEditArea_MyDefault /*Bootstrap correction*/
{
    height: 14px;
    margin-bottom: 0px;
}
body input.dxeEditArea_MyDefault /*Bootstrap correction*/
{
    color: black;
}
@media screen and (-webkit-min-device-pixel-ratio:0) /* Chrome */
{
    input[type="text"].dxeEditArea_MyDefault,
    input[type="password"].dxeEditArea_MyDefault
    {
        padding-top: 1px;
        padding-bottom: 1px;
        margin-top: -1px;
        margin-bottom: -1px;
    }
    .dxeSafariSys input.dxeEditArea_MyDefault {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
/* -- ValidationSummary -- */

.dxvsValidationSummary_MyDefault
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: Red;
}
.dxvsValidationSummary_MyDefault td.dxvsRC
{
	vertical-align: top;
	padding: 2px 5px 4px 6px;
}
.dxvsValidationSummary_MyDefault .dxvsE
{
}

/* ValidationSummary - Header */

.dxvsValidationSummary_MyDefault table.dxvsHT
{
	width: 100%;
}
.dxvsValidationSummary_MyDefault td.dxvsH
{
	padding: 2px 0;
}

/* ValidationSummary - Hyperlink */

.dxvsValidationSummary_MyDefault a.dxvsHL,
.dxvsValidationSummary_MyDefault a.dxvsHL:visited
{
	color: red;
}
.dxvsValidationSummary_MyDefault a.dxvsHL
{
	text-decoration: none;
	border-bottom: 1px dashed #f70;
}
.dxvsValidationSummary_MyDefault a.dxvsHL:hover
{
	color: #f70;
}

/* ValidationSummary - Table Layout */

.dxvsValidationSummary_MyDefault table.dxvsT
{
}
.dxvsValidationSummary_MyDefault tr.dxvsE
{
}
.dxvsValidationSummary_MyDefault td.dxvsETC
{
	padding: 2px 0;
}

/* ValidationSummary - List Layout */

.dxvsValidationSummary_MyDefault ul.dxvsL
{
}
.dxvsValidationSummary_MyDefault ol.dxvsL
{
}
.dxvsValidationSummary_MyDefault li.dxvsE
{
	padding: 2px 0;
}

/* -- Buttons -- */
.dxeButtonEditButton_MyDefault,
.dxeCalendarButton_MyDefault,
.dxeSpinIncButton_MyDefault,
.dxeSpinDecButton_MyDefault,
.dxeSpinLargeIncButton_MyDefault,
.dxeSpinLargeDecButton_MyDefault,
.dxeColorEditButton_MyDefault
{
	vertical-align: middle;
	border: 1px solid #7f7f7f;
	cursor: pointer;
	font: normal 11px Tahoma, Geneva, sans-serif;
	text-align: center;
	white-space: nowrap;
} 
.dxeButtonEditButton_MyDefault
{
    padding: 0px 2px 1px 3px;    
}
.dxeSpinIncButton_MyDefault
{
    padding: 1px 2px 1px 3px;
    border-bottom: 0;    
}
.dxeSpinDecButton_MyDefault
{
    padding: 1px 2px 1px 3px;    
}
.dxeSpinLargeIncButton_MyDefault,
.dxeSpinLargeDecButton_MyDefault
{
	padding: 2px 5px 2px 5px;
}
.dxeButtonEditButton_MyDefault,
.dxeSpinLargeIncButton_MyDefault,
.dxeSpinLargeDecButton_MyDefault
{
	background: #e6e6e6 url('edtDropDownBack.gif') repeat-x top;
}
.dxeSpinIncButton_MyDefault
{
	background: #F0F0F0 url('edtSpinIncBtnBack.gif') repeat-x top;
}
.dxeSpinDecButton_MyDefault
{
	background: #E6E6E6 url('edtSpinDecBtnBack.gif') repeat-x top;
}

.dxeCalendarButton_MyDefault
{
	font-size: 12px;
	background: #e5e5e5 url('edtCalendarButtonBack.gif') repeat-x top;
	padding: 3px 11px 4px;
	min-width: 37px;
}
.dxeColorEditButton_MyDefault
{
	font: 12px Tahoma, Geneva, sans-serif;
	background: #e5e5e5 url('edtCalendarButtonBack.gif') repeat-x top;
}

/* -- Pressed -- */
.dxeCalendarButtonPressed_MyDefault,
.dxeButtonEditButtonPressed_MyDefault,
.dxeSpinIncButtonPressed_MyDefault,
.dxeSpinDecButtonPressed_MyDefault,
.dxeSpinLargeIncButtonPressed_MyDefault, 
.dxeSpinLargeDecButtonPressed_MyDefault,
.dxeColorEditButton_MyDefault:active
{
	background: #D5D5D5 none;
	border: 1px Solid #7F7F7F;
}
.dxeSpinIncButtonPressed_MyDefault
{
    border-bottom: 0;
}
/* -- Hover -- */
.dxeCalendarButtonHover_MyDefault,
.dxeButtonEditButtonHover_MyDefault,
.dxeSpinIncButtonHover_MyDefault,
.dxeSpinDecButtonHover_MyDefault,
.dxeSpinLargeIncButtonHover_MyDefault,
.dxeSpinLargeDecButtonHover_MyDefault,
.dxeColorEditButton_MyDefault:hover
{
	background: #F2F2F2 url('edtDropDownButtonHoverBack.gif') repeat-x top;
	border: 1px Solid #606060;
}
.dxeSpinIncButtonHover_MyDefault
{
    border-bottom: 0;
}
.dxeCalendarButtonHover_MyDefault,
.dxeColorEditButton_MyDefault:hover
{
	background: url('edtCalendarButtonHBack.gif') repeat-x top;
}

.dxeButtonEdit_MyDefault
{
	background-color: white;
	border: 1px solid #9F9F9F;
}

.dxeButtonEdit_MyDefault td.dxic 
{
    *padding-left: 2px;
}
*[dir="rtl"].dxeTextBox_MyDefault td.dxic 
{
    *padding-right: 2px;
}

.dxeButtonEdit_MyDefault .dxeEditArea_MyDefault
{
	background-color: white;
}
.dxeButtonEdit_MyDefault .dxeIIC img
{
	padding-left: 3px;
}
.dxeTextBox_MyDefault,
.dxeMemo_MyDefault
{
	background-color: white;
	border: 1px solid #9f9f9f;
}

.dxeTextBox_MyDefault .dxeEditArea_MyDefault
{
	background-color: white;
}
.dxeRadioButtonList_MyDefault, .dxeCheckBoxList_MyDefault
{
	border: 1px Solid #9F9F9F;
}

.dxeCheckBoxList_MyDefault .dxe > table,
.dxeRadioButtonList_MyDefault .dxe > table 
{
    width: 100%;
}

.dxeRadioButtonList_MyDefault,
.dxeRadioButtonList_MyDefault table,
.dxeCheckBoxList_MyDefault,
.dxeCheckBoxList_MyDefault table
{
	font: 12px Tahoma, Geneva, sans-serif;
}
.dxeRadioButtonList_MyDefault td.dxe,
.dxeCheckBoxList_MyDefault td.dxe
{
	padding: 7px 5px 6px 11px;
}
.dxeRadioButtonList_MyDefault label,
.dxeCheckBoxList_MyDefault label
{
	margin-right: 6px;
}

.dxeRadioButtonList_MyDefault img,
.dxeCheckBoxList_MyDefault img
{
	margin-bottom: -4px;
    padding-right: 5px;
}

/* -- Memo -- */
.dxeMemo_MyDefault
{
}
.dxeMemoEditArea_MyDefault
{
	background-color: white;
	font: 12px Tahoma, Geneva, sans-serif;
	outline: none;
}


/* -- Hyperlink -- */
.dxeHyperlink_MyDefault
{
	font: normal 12px Tahoma, Geneva, sans-serif;
	color: #0d45b7;
}
a.dxeHyperlink_MyDefault:hover
{
	color: #5494ea;
}
a.dxeHyperlink_MyDefault:visited
{
	color: #ab59a6;
}

/* -- ListBox -- */
.dxeListBox_MyDefault
{
	background-color: white;
	border: 1px solid #A0A0A0;
	font: 12px Tahoma, Geneva, sans-serif;
	width: 70px;
	height: 109px;
}
.dxeListBox_MyDefault div.dxlbd
{
	padding-top: 1px;
	padding-bottom: 1px;
	height: 107px;
}
.dxeListBoxItemRow_MyDefault
{
	cursor: default;
}
.dxeListBoxItem_MyDefault
{
	border-left: 1px solid white;
	border-right: 1px solid white;
	font: normal 12px Tahoma, Geneva, sans-serif;
	padding: 3px 2px 4px 3px;
	white-space: nowrap;
	text-align: left;
	color: Black;
}
.dxeListBoxItem_MyDefault em
{
	background: #CFCFCF none repeat 0 0;
	color: #333333;
	font-weight: bold;
	font-style: normal;
}

.dxeListBox_MyDefault td.dxeI,
.dxeListBox_MyDefault td.dxeIM,
.dxeListBox_MyDefault .dxeHIC, 
.dxeListBox_MyDefault td.dxeFTM,
.dxeListBox_MyDefault td.dxeTM,
.dxeListBox_MyDefault td.dxeC,
.dxeListBox_MyDefault td.dxeCM,
.dxeListBox_MyDefault td.dxeHCC,
.dxeListBox_MyDefault td.dxeMI,
.dxeListBox_MyDefault td.dxeMIM
{
	border-right-width: 0!important;
}

.dxeListBox_MyDefault td.dxeIR,
.dxeListBox_MyDefault td.dxeIMR,
.dxeListBox_MyDefault .dxeHICR, 
.dxeListBox_MyDefault td.dxeFTMR,
.dxeListBox_MyDefault td.dxeTMR,
.dxeListBox_MyDefault td.dxeCR,
.dxeListBox_MyDefault td.dxeCMR,
.dxeListBox_MyDefault td.dxeHCCR,
.dxeListBox_MyDefault td.dxeMIR,
.dxeListBox_MyDefault td.dxeMIMR
{
	border-left-width: 0!important;
}

.dxeListBox_MyDefault td.dxeCM,
.dxeListBox_MyDefault td.dxeHCC,
.dxeListBox_MyDefault td.dxeCMR,
.dxeListBox_MyDefault td.dxeHCCR
{
	width: 29px;
    *width: 23px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.dxeListBox_MyDefault td.dxeIM,
.dxeListBox_MyDefault td.dxeIMR
{
	width: 0;
}
.dxeListBox_MyDefault td.dxeC > span,
.dxeListBox_MyDefault td.dxeCM > span
{
    margin: 2px 2px 2px 3px;
}
.dxeListBox_MyDefault td.dxeCR > span,
.dxeListBox_MyDefault td.dxeCMR > span
{
    margin: 2px 3px 2px 2px;
}
.dxeListBox_MyDefault td.dxeC
{
	padding-right: 3px!important;
}
.dxeListBox_MyDefault td.dxeCR
{
	padding-left: 3px!important;
}

.dxeListBox_MyDefault td.dxeT
{
	width: 100%;
	padding-left: 0!important;
}

.dxeListBox_MyDefault td.dxeTR
{
	width: 100%;
	padding-right: 0!important;
}


.dxeListBox_MyDefault td.dxeT,
.dxeListBox_MyDefault td.dxeMI
{
	border-left-width: 0!important;
}

.dxeListBox_MyDefault td.dxeTR,
.dxeListBox_MyDefault td.dxeMIR
{
	border-right-width: 0!important;
}


.dxeListBox_MyDefault td.dxeFTM,
.dxeListBox_MyDefault td.dxeTM,
.dxeListBox_MyDefault td.dxeLTM, 
.dxeListBox_MyDefault .dxeHFC,
.dxeListBox_MyDefault .dxeHC,
.dxeListBox_MyDefault .dxeHLC,
.dxeListBox_MyDefault td.dxeFTMR,
.dxeListBox_MyDefault td.dxeTMR,
.dxeListBox_MyDefault td.dxeLTMR, 
.dxeListBox_MyDefault .dxeHFCR,
.dxeListBox_MyDefault .dxeHCR,
.dxeListBox_MyDefault .dxeHLCR
{
	overflow: hidden;
}

.dxeListBox_MyDefault td.dxeFTM,
.dxeListBox_MyDefault td.dxeTM, 
.dxeListBox_MyDefault .dxeHFC,
.dxeListBox_MyDefault .dxeHC
{
	padding-right: 6px!important;
}

.dxeListBox_MyDefault td.dxeFTMR,
.dxeListBox_MyDefault td.dxeTMR, 
.dxeListBox_MyDefault .dxeHFCR,
.dxeListBox_MyDefault .dxeHCR
{
	padding-left: 6px!important;
}


.dxeListBox_MyDefault td.dxeLTM,
.dxeListBox_MyDefault td.dxeTM, 
.dxeListBox_MyDefault .dxeHC,
.dxeListBox_MyDefault .dxeHLC
{
	padding-left: 6px!important;
}

.dxeListBox_MyDefault td.dxeLTMR,
.dxeListBox_MyDefault td.dxeTMR, 
.dxeListBox_MyDefault .dxeHCR,
.dxeListBox_MyDefault .dxeHLCR
{
	padding-right: 6px!important;
}

/*Grid lines*/

.dxeListBox_MyDefault td.dxeLTM,
.dxeListBox_MyDefault td.dxeTM,
.dxeListBox_MyDefault td.dxeMIM
{
	border-left: 1px solid #cfcfcf!important;
}

.dxeListBox_MyDefault td.dxeLTMR,
.dxeListBox_MyDefault td.dxeTMR,
.dxeListBox_MyDefault td.dxeMIMR
{
	border-right: 1px solid #cfcfcf!important;
}

.dxeListBox_MyDefault td.dxeIM,
.dxeListBox_MyDefault td.dxeFTM,
.dxeListBox_MyDefault td.dxeTM,
.dxeListBox_MyDefault td.dxeLTM,
.dxeListBox_MyDefault td.dxeCM,
.dxeListBox_MyDefault td.dxeMIM,
.dxeListBox_MyDefault td.dxeIMR,
.dxeListBox_MyDefault td.dxeFTMR,
.dxeListBox_MyDefault td.dxeTMR,
.dxeListBox_MyDefault td.dxeLTMR,
.dxeListBox_MyDefault td.dxeCMR,
.dxeListBox_MyDefault td.dxeMIMR
{
	border-bottom: 1px solid #cfcfcf;
}

.dxeListBoxItemSelected_MyDefault     /* inherits dxeListBoxItem */
{
	color: White;
	background-color: #A0A0A0;
}
.dxeListBoxItemHover_MyDefault        /* inherits dxeListBoxItem */
{
	background-color: #cfcfcf;
	color: black;
}
.dxeListBoxItemHover_MyDefault em,
.dxeListBoxItemSelected_MyDefault em
{
	background-image: none;
}

/*Header*/

.dxeListBox_MyDefault .dxeHD
{
	background-color: #dcdcdc;
	border-bottom: 1px solid #A0A0A0;
}

.dxeListBox_MyDefault .dxeHC,
.dxeListBox_MyDefault .dxeHLC,
.dxeListBox_MyDefault td.dxeHMIC
{
	border-left: 1px solid #A0A0A0;
}

.dxeListBox_MyDefault .dxeHCR,
.dxeListBox_MyDefault .dxeHLCR,
.dxeListBox_MyDefault td.dxeHMICR
{
	border-right: 1px solid #A0A0A0;
	text-align: right;
}

.dxeListBox_MyDefault .dxeHIC,
.dxeListBox_MyDefault .dxeHFC,
.dxeListBox_MyDefault .dxeHCC
{
	border-left: 1px solid #dcdcdc;
}

.dxeListBox_MyDefault .dxeHICR,
.dxeListBox_MyDefault .dxeHFCR,
.dxeListBox_MyDefault .dxeHCCR
{
	border-right: 1px solid #dcdcdc;
	text-align: right;
}

.dxeListBox_MyDefault .dxeHFC,
.dxeListBox_MyDefault .dxeHC,
.dxeListBox_MyDefault .dxeHMIC
{
	border-right-width: 0;
}

.dxeListBox_MyDefault .dxeHFCR,
.dxeListBox_MyDefault .dxeHCR,
.dxeListBox_MyDefault .dxeHMICR
{
	border-left-width: 0;
	text-align: right;
}

.dxeListBox_MyDefault .dxeHLC
{
	border-right: 1px solid #dcdcdc;
}

.dxeListBox_MyDefault .dxeHLCR
{
	border-left: 1px solid #dcdcdc;
	text-align: right;
}

/* -- Calendar -- */
.dxeCalendar_MyDefault
{
	border: 1px solid #9f9f9f;
	background-color: White;
	color: Black;
	font-weight: normal;
	cursor: default;
}
.dxeCalendar_MyDefault td.dxMonthGrid_MyDefault
{
	padding: 8px 20px;
}
.dxeCalendar_MyDefault td.dxMonthGridWithWeekNumbers_MyDefault
{
	padding: 5px 20px 8px 8px;
}
.dxeCalendar_MyDefault td.dxMonthGridWithWeekNumbersRtl_MyDefault
{
	padding: 5px 8px 8px 20px;
}
.dxeCalendarDayHeader_MyDefault
{
	font: 12px Tahoma, Geneva, sans-serif;
	padding: 2px 4px 5px;
	border-bottom: 1px solid #cfcfcf;
}
.dxeCalendarWeekNumber_MyDefault
{
	font: 9px Tahoma, Geneva, sans-serif;
	text-align: right;
	padding: 6px 8px 6px 4px;
	color: #bfbfbf;
}
.dxeCalendarDay_MyDefault
{
	font: 12px Tahoma, Geneva, sans-serif;
	padding: 4px 6px;
	text-align: center;
}
.dxeCalendarWeekend_MyDefault        /* inherits dxeCalendarDay */
{
	color: #c00000;
}
.dxeCalendarOtherMonth_MyDefault     /* inherits dxeCalendarDay */
{
	color: #888;
}
.dxeCalendarOutOfRange_MyDefault     /* inherits dxeCalendarDay */
{
	color: #d0d0d0;
}
.dxeCalendarSelected_MyDefault       /* inherits dxeCalendarDay */
{
	color: White;
	background-color: #8d8d8d;
}
.dxeCalendarToday_MyDefault         /* inherits dxeCalendarDay */
{
	padding: 3px 3px 2px;
	border: 1px solid #c00000;
}
.dxeCalendarHeader_MyDefault
{
	font: 12px Tahoma, Geneva, sans-serif;
	background-color: #dcdcdc;
	border-top: 1px solid #c9c9c9;
	border-right: 0 solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
	border-left: 0 solid #c9c9c9;
	padding: 4px 7px;
}
.dxeCalendarHeader_MyDefault td.dxe
{
	text-align: center;
	cursor: pointer;
}
.dxeCalendarFooter_MyDefault
{
	background-color: #ededed;
	padding: 8px 0px;
	border-top: 1px solid #d6d6d6;
}
.dxeCalendarFastNav_MyDefault
{
	color: Black;
	background: White none;
	border-top: 1px solid #9f9f9f;
	border-right: 1px solid #9f9f9f;
	border-bottom: 0px solid #9f9f9f;
	border-left: 1px solid #9f9f9f;
	padding: 12px 8px;
}
.dxeCalendarFastNavMonthArea_MyDefault
{
	padding: 0px 9px;
}
.dxeCalendarFastNavYearArea_MyDefault
{
}
.dxeCalendarFastNavFooter_MyDefault
{
	color: Black;
	background-color: #ededed;
	padding: 8px 0px;
	border-right: 1px solid #9f9f9f;
	border-bottom: 1px solid #9f9f9f;
	border-left: 1px solid #9f9f9f;
	border-top: 1px solid #d6d6d6;
}
.dxeCalendarFastNavMonth_MyDefault,
.dxeCalendarFastNavYear_MyDefault
{
	font: normal 12px Tahoma, Geneva, sans-serif;
	color: Black;
	padding: 3px 5px;
	text-align: center;
	cursor: pointer;
}
.dxeCalendarFastNavMonth_MyDefault
{
	padding: 6px;
}
.dxeCalendarFastNavMonthSelected_MyDefault,
.dxeCalendarFastNavYearSelected_MyDefault
{
	color: White;
	background: #8d8d8d none;
}
.dxeCalendarFastNavMonthHover_MyDefault,
.dxeCalendarFastNavYearHover_MyDefault
{
	color: Black;
	background: #e5e5e5 none;
	padding: 2px 4px;
	border: 1px solid #d6d6d6;
}
.dxeCalendarFastNavMonthHover_MyDefault
{
	padding: 5px;
}
.dxeDateEditTimeEditCell_MyDefault
{
    padding: 11px 22px 16px;
    width: 100px;
}
.dxeDateEditClockCell_MyDefault
{
    padding: 16px 17px 0;
}
.dxeCalendarFooter_MyDefault.dxeDETSF
{
    padding-left: 8px;
    padding-right: 8px;
}
/* Disabled */
.dxeDisabled_MyDefault,
.dxeDisabled_MyDefault td.dxe
{
	color: #acacac;
	cursor: default;
}
.dxeEditArea_MyDefault.dxeDisabled_MyDefault, /*Bootstrap correction*/
.dxeDisabled_MyDefault .dxeMemoEditArea_MyDefault /*Bootstrap correction*/
{
    color: #acacac;
}
a.dxeDisabled_MyDefault:hover
{
	color: #acacac;
}
.dxeButtonDisabled_MyDefault
{
	border-color: #c3c3c3;
	color: #808080;
	cursor: default;
}
/* -- Button -- */
.dxbButton_MyDefault
{
	color: #000000;
	font: normal 12px Tahoma, Geneva, sans-serif;
	border: 1px solid #7F7F7F;
	background: #E0DFDF url('edtButtonBack.gif') repeat-x top;
	padding: 1px;
}
.dxbButtonHover_MyDefault
{
	color: #000000;
	background: #F2F2F2 url('edtButtonHoverBack.gif') repeat-x top;
	border: 1px solid #606060;
}
.dxbButtonChecked_MyDefault
{
	color: #FFFFFF;
	background: #8D8D8D none;
}
.dxbButtonPressed_MyDefault
{
	color: #000000;
	background: #D5D5D5 none;
}
.dxbButton_MyDefault div.dxb
{
    padding: 2px 7px 3px;
	border: 1px dotted transparent;
}
.dxbButton_MyDefault div.dxbf
{
	border: 1px dotted black;
}
/* Link Button */
a.dxbButton_MyDefault
{
	border: 0;
	background: none;
	padding: 0;

    color: #0d45b7;
}
a.dxbButton_MyDefault,
a.dxbButton_MyDefault span
{
    text-decoration: underline;
}
a.dxbButton_MyDefault:hover
{
	color: #5494ea;
}
a.dxbButton_MyDefault:visited
{
	color: #ab59a6;
}
/* Disabled */
.dxbDisabled_MyDefault
{
	border-color: #c3c3c3;
}
.dxbDisabled_MyDefault,
a.dxbButton_MyDefault.dxbDisabled_MyDefault,
a.dxbButton_MyDefault.dxbDisabled_MyDefault span
{
	color: #808080;
	cursor: default;
    text-decoration: none;
}
/* -- FilterControl -- */
.dxfcTable_MyDefault
{
	border-collapse: separate!important;
}
.dxfcTable_MyDefault td.dxfc
{
	padding: 0px 0px 0px 3px;
	vertical-align: middle;
	font: 12px Tahoma, Geneva, sans-serif;
	color: Black;
}
a.dxfcPropertyName_MyDefault
{
	white-space: nowrap!important;
	color: Blue!important;
}
a.dxfcGroupType_MyDefault
{
	white-space: nowrap!important;
	padding: 0px 3px!important;
	color: Red!important;
}
a.dxfcOperation_MyDefault
{
	white-space: nowrap!important;
	color: Green!important;
}
a.dxfcValue_MyDefault
{
	white-space: nowrap!important;
	color: Gray!important;
}

.dxfcLoadingDiv_MyDefault
{
	background: white none;
	opacity: 0.01;
	filter: alpha(opacity=1);
}
.dxfcLoadingPanel_MyDefault
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #303030;
	border: 1px solid #9F9F9F;
	background: white none;
}
.dxfcLoadingPanel_MyDefault td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}

.dxeMaskHint_MyDefault
{
	background: #ffffe1 none;
	border: 1px solid black;
	padding: 2px 5px 3px;
	color: Black;
	font: 12px Tahoma, Geneva, sans-serif;
}

/* -- ProgressBar -- */
.dxeProgressBar_MyDefault
{
	border: 1px Solid #696969;
	background-color: #FFFFFF;
}
.dxeProgressBar_MyDefault,
.dxeProgressBar_MyDefault td.dxe
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: Black;
}
.dxeProgressBar_MyDefault .dxePBMainCell_MyDefault,
.dxeProgressBar_MyDefault td.dxe
{
	padding: 0;
}
.dxeProgressBarIndicator_MyDefault
{
	background-color: #E0DFDF;
}

/* -- DropDownWindow -- */
.dxeDropDownWindow_MyDefault
{
	background-color: white;
	border: 1px solid #9F9F9F;
}

/*----------------- ColorTable -----------------*/
.dxeColorIndicator_MyDefault
{
	border: 1px solid #9F9F9F;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.dxeItemPicker_MyDefault
{
	background-color: #ffffff;
	border: 1px solid #9F9F9F;
}
.dxeColorTable_MyDefault td.dx,
.dxeItemPicker_MyDefault td.dx
{
	padding: 4px;
}
.dxeColorTableCell_MyDefault,
.dxeItemPickerCell_MyDefault
{
	padding: 3px;
	cursor: pointer;
}
.dxeColorTableCellDiv_MyDefault
{
	border: 1px solid #808080;
	width: 12px;
	height: 12px;
	font-size: 0px;
}
.dxeColorTableCellSelected_MyDefault
{
	padding: 2px!important;
	background-color: #CBCBCB;
	border: 1px solid #888888;
}
.dxeColorTableCellHover_MyDefault,
.dxeItemPickerCellHover_MyDefault
{
	padding: 2px!important;
	background-color: #F2F2F2;
	border: 1px solid #888888;
}

/* -- Invalid Style -- */
.dxeInvalid_MyDefault
{
}
.dxeInvalid_MyDefault .dxeEditArea_MyDefault,
.dxeInvalid_MyDefault .dxeMemoEditArea_MyDefault
{
}

/* -- Focused Style -- */
.dxeFocused_MyDefault
{
	border: 1px solid #3d3d3d;
}
.dxeFocused_MyDefault.dxeTrackBar_MyDefault
{
	border: 0px;
}

/* -- Null Text Style -- */
.dxeNullText_MyDefault .dxeEditArea_MyDefault,
.dxeNullText_MyDefault .dxeMemoEditArea_MyDefault
{
	color: #818181;
}

/* -- Captcha -- */
.dxcaControl_MyDefault 
{
}

.dxcaRefreshButton_MyDefault
{
	font: 13px Tahoma, Geneva, sans-serif;
	text-decoration: none;
	color: #1e3695;
}

.dxcaDisabledRefreshButton_MyDefault
{
	color: #acacac;
}

.dxcaRefreshButtonCell_MyDefault
{
	padding-left: 4px;
}

.dxcaRefreshButtonText_MyDefault
{
}

.dxcaDisabledRefreshButtonText_MyDefault
{
}

.dxcaTextBoxCell_MyDefault
{
	font: 12px Tahoma, Geneva, sans-serif;
}

.dxcaTextBoxCell_MyDefault,
.dxcaTextBoxCellNoIndent_MyDefault
{
	font: 12px Tahoma, Geneva, sans-serif;
}

.dxcaTextBoxCell_MyDefault .dxeErrorCell_MyDefault
{
}

.dxcaTextBoxCellNoIndent_MyDefault .dxeErrorCell_MyDefault
{
	padding-left: 0px;
	padding-top: 4px;
	color: Red;
}

.dxcaTextBoxLabel_MyDefault
{
	padding-bottom: 4px;
	display: block;
}

.dxcaLoadingPanel_MyDefault
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #303030;
}

.dxcaLoadingPanel_MyDefault td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}

.dxpcControl_MyDefault .dxHFBPS,
.dxpcLite_MyDefault .dxHFBPS
{
    width: 6px;
}

.dxeTextBox_MyDefault,
.dxeButtonEdit_MyDefault,
.dxeIRadioButton_MyDefault,
.dxeRadioButtonList_MyDefault,
.dxeCheckBoxList_MyDefault
{
    cursor: default;
}

/* Removes flicking in iOS Safari*/
.dxeTrackBar_MyDefault, 
.dxeIRadioButton_MyDefault, 
.dxeButtonEdit_MyDefault, 
.dxeTextBox_MyDefault, 
.dxeRadioButtonList_MyDefault, 
.dxeCheckBoxList_MyDefault, 
.dxeMemo_MyDefault, 
.dxeListBox_MyDefault, 
.dxeCalendar_MyDefault, 
.dxeColorTable_MyDefault
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* -- ASPxTokenBox -- */
input.dxeTokenBoxInput_MyDefault[type="text"] {
	display: inline-block;
	float: left;
	width: 30px;
	outline: none;
	height: 17px;
	margin-bottom: 1px;
}
.dxeToken_MyDefault {
    border: 1px solid #b9b9b9;
    display: inline-block;
    font: 12px Tahoma, Geneva, sans-serif;
    margin: 0px 1px 1px 0px;
    padding: 0px;
	float: left;
	min-width: 30px;
	height: 15px;
}
.dxeTokenText_MyDefault, .dxeTokenRemoveButton_MyDefault {
	display: block;
	float: left;
}
.dxeTokenText_MyDefault {
	padding: 0px 2px 0px 4px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.dxeTokenRemoveButton_MyDefault {
	margin-top: 1px;
	cursor: pointer;
}
.dxeToken_MyDefault {
	background: #ffffff url('edtTokenBoxTokenBackground.png') repeat-x top;
}

/* ASPxCololrEdit */
.dxcpParametersCell_MyDefault label
{
	font: 12px Tahoma, Geneva, sans-serif;
}
.dxcpParametersCell_MyDefault input
{
	font: 12px Tahoma, Geneva, sans-serif;
	margin-left: 3px;
	padding-left: 5px;
	width: 60px;
	height: 17px;
}
.dxcpWebColorInput_MyDefault
{
	float: right;
	margin-top: 40px;
}
.dxcpColorParameterMainDiv_MyDefault
{
	padding: 0px 0 4px 15px;
	width: 90px;
	text-align: right;
}
.dxeCustomColorButton_MyDefault
{
	height: 22px;
	line-height: 22px;
	margin: 3px 7px;
	cursor: pointer;
}
.dxcpCurrentColor_MyDefault, .dxcpSavedColor_MyDefault
{
	height: 35px;
}
.dxcpCurrentAndSaved_MyDefault
{
	width: 65px;
	margin: 34px 0px 0px auto;
	cursor: pointer;
}
.dxeColorTablesMainDiv_MyDefault,
.dxeColorSelectorMainDiv_MyDefault
{
	background-color: #FFFFFF;
}
.dxeColorSelectorMainDiv_MyDefault
{
	padding: 7px;
}
.dxcpColorArea_MyDefault,
.dxcpHueArea_MyDefault,
.dxcpCurrentAndSaved_MyDefault,
.dxeColorTablesMainDiv_MyDefault,
.dxeColorSelectorMainDiv_MyDefault,
.dxcpParametersCell_MyDefault input
{
	border: 1px solid #9F9F9F;
}
.dxeButtonsPanelDiv_MyDefault
{
	margin-top: 15px;
	text-align: right;
}
.dxeButtonsPanelDiv_MyDefault input
{
	width: 60px;
	height: 22px;
	margin-left: 10px;
}
