.dxGridView_gvCellError_MyDefault,
.dxGridView_gvCollapsedButton_MyDefault,
.dxGridView_gvCollapsedButtonRtl_MyDefault,
.dxGridView_gvDetailCollapsedButton_MyDefault,
.dxGridView_gvDetailCollapsedButtonRtl_MyDefault,
.dxGridView_gvDetailExpandedButton_MyDefault,
.dxGridView_gvDetailExpandedButtonRtl_MyDefault,
.dxGridView_gvDragAndDropArrowDown_MyDefault,
.dxGridView_gvDragAndDropArrowUp_MyDefault,
.dxGridView_gvDragAndDropHideColumn_MyDefault,
.dxGridView_gvExpandedButton_MyDefault,
.dxGridView_gvExpandedButtonRtl_MyDefault,
.dxGridView_gvFilterRowButton_MyDefault,
.dxGridView_gvHeaderFilter_MyDefault,
.dxGridView_gvHeaderFilterActive_MyDefault,
.dxGridView_gvHeaderSortDown_MyDefault,
.dxGridView_gvHeaderSortUp_MyDefault,
.dxGridView_gvParentGroupRows_MyDefault,
.dxGridView_WindowResizer_MyDefault,
.dxGridView_WindowResizerRtl_MyDefault
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxGridView_gvCellError_MyDefault
{
    background-position: 0px -58px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvCollapsedButton_MyDefault
{
    background-position: -23px 0px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvCollapsedButtonRtl_MyDefault
{
    background-position: -20px -98px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvDetailCollapsedButton_MyDefault
{
    background-position: -19px -73px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvDetailCollapsedButtonRtl_MyDefault
{
    background-position: -23px -12px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvDetailExpandedButton_MyDefault
{
    background-position: -10px -87px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvDetailExpandedButtonRtl_MyDefault
{
    background-position: 0px -109px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvDragAndDropArrowDown_MyDefault
{
    background-position: -10px -109px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropArrowUp_MyDefault
{
    background-position: 0px -120px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropHideColumn_MyDefault
{
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvExpandedButton_MyDefault
{
    background-position: 0px -98px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvExpandedButtonRtl_MyDefault
{
    background-position: -10px -98px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvFilterRowButton_MyDefault
{
    background-position: -15px -58px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvHeaderFilter_MyDefault
{
    background-position: 0px -40px;
    width: 15px;
    height: 17px;
}
.dxGridView_gvHeaderFilterActive_MyDefault
{
    background-position: -17px -23px;
    width: 15px;
    height: 16px;
}
.dxGridView_gvHeaderSortDown_MyDefault
{
    background-position: 0px -87px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvHeaderSortUp_MyDefault
{
    background-position: -20px -87px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvParentGroupRows_MyDefault
{
    background-position: 0px -73px;
    width: 18px;
    height: 13px;
}
.dxGridView_WindowResizer_MyDefault
{
    background-position: -16px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_WindowResizerRtl_MyDefault
{
    background-position: 0px -23px;
    width: 16px;
    height: 16px;
}

