.dxgvControl_MyDefault,
.dxgvDisabled_MyDefault
{
	border: 1px Solid #9F9F9F;
	font: 12px Tahoma, Geneva, sans-serif;
	background-color: #F2F2F2;
	color: Black;
	cursor: default;
}
.dxgvDisabled_MyDefault
{
	color: Gray;
}
.dxgvControl_MyDefault a
{
	color: #5555FF;
}
.dxgvDisabled_MyDefault a
{
	color: Gray;
}
.dxgvLoadingPanel_MyDefault
{
	border: 1px solid #9F9F9F;
	background-color: #E3E3E1;
	font: 12px Tahoma, Geneva, sans-serif;
	color: #303030;
}
.dxgvLoadingPanel_MyDefault td
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}
.dxgvLoadingPanelStatusBar_MyDefault
{
	background-color: Transparent;
}
.dxgvLoadingPanelStatusBar_MyDefault td
{
	white-space: nowrap;
	text-align: center;
	padding: 0px 2px;
}

.dxgvTable_MyDefault
{
	background-color: White;
	border-width: 0;
	border-collapse: separate!important;
	overflow: hidden;
	color: Black;
}
.dxgvTable_MyDefault .dxgvHEC
{
	background-color: White;
	border-width: 0;
	overflow: hidden;
}
.dxgvControl_MyDefault .dxgvFSDC .dxgvFooter_MyDefault td.dxgv
{
    border-bottom: 0;
}
.dxgvInlineEditRow_MyDefault,
.dxgvDataRow_MyDefault
{
}
.dxgvInlineEditRow_MyDefault td.dxgv
{
	border-bottom: 1px Solid #D3D3D3;
	border-right: 1px Solid #D3D3D3;
}
.dxgvInlineEditRow_MyDefault td.dxgvIndentCell 
{
    background-color: #EDEDED;
}
.dxgvDataRowAlt_MyDefault
{
	background-color: #EDEDEB;
}
.dxgvFilterRow_MyDefault
{
	background-color: #E7E7E7;
}
.dxgvEditForm_MyDefault
{
	background-color: #F0F0F0;
}
.dxgvEditForm_MyDefault td.dxgv
{
	border-bottom: 1px Solid #D3D3D3;
	padding: 8px 10px 10px;
}
.dxgvEditForm_MyDefault td.dxgvIndentCell
{
	background: #EDEDED none;
	border-right: 1px Solid #CFCFCF;
	border-left: 1px Solid #CFCFCF;
	border-top-width: 0px;
}
.dxgvSelectedRow_MyDefault
{
	background-color: #A0A0A0;
	color: White;
}
.dxgvFocusedRow_MyDefault
{
	background-color: #8D8D8D;
	color: White;
}
.dxgvSelectedRow_MyDefault .dxgvCommandColumn_MyDefault a, 
.dxgvFocusedRow_MyDefault .dxgvCommandColumn_MyDefault a
{
	color: White;
}
.dxgvSelectedRow_MyDefault .dxgvCommandColumn_MyDefault a:hover, 
.dxgvFocusedRow_MyDefault .dxgvCommandColumn_MyDefault a:hover
{
	color: #F0F0F0;
}

.dxgvPreviewRow_MyDefault
{
	background-color: #F5F5F5;
	color: #707070;
}
.dxgvDetailCell_MyDefault,
.dxgvPreviewRow_MyDefault td.dxgv,
.dxgvEmptyDataRow_MyDefault td.dxgv
{
	padding: 20px 2px 20px 4px;
	border-bottom: 1px Solid #D3D3D3;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}
.dxgvPreviewRow_MyDefault td.dxgv
{
	padding: 10px 10px 10px 15px;
}
.dxgvDetailCell_MyDefault
{
	padding: 16px 18px;
}
.dxgvDetailRow_MyDefault td.dxgvIndentCell
{
	padding-right: 0px;
	border-bottom: 1px Solid #D3D3D3;
}
.dxgvEmptyDataRow_MyDefault
{
	color: Gray;
}
.dxgvEmptyDataRow_MyDefault td.dxgv
{
	border-bottom: 1px Solid #CFCFCF;
	text-align: center;
}

.dxgvEditFormDisplayRow_MyDefault td.dxgv,
.dxgvDataRow_MyDefault td.dxgv,
.dxgvDataRowAlt_MyDefault td.dxgv,
.dxgvSelectedRow_MyDefault td.dxgv,
.dxgvFocusedRow_MyDefault td.dxgv
{
	overflow: hidden;
	border-bottom: 1px Solid #CFCFCF;
	border-right: 1px Solid #CFCFCF;
	border-top-width: 0;
	border-left-width: 0;
	padding: 3px 6px 4px;
}
.dxgvEditFormDisplayRow_MyDefault
{
}
.dxgvEditFormDisplayRow_MyDefault td.dxgv
{
}
.dxgvEditFormDisplayRow_MyDefault td.dxgvIndentCell
{
	background: #EDEDED none;
	border-right: 1px Solid #CFCFCF;
	border-left: 1px Solid #CFCFCF;
	border-top-width: 0px;
}

.dxgvEditingErrorRow_MyDefault
{
	background-color: #FFC8C8;
	color: #FF0000;
}
.dxgvEditingErrorRow_MyDefault td.dxgv
{
	white-space: pre-wrap;
	border-bottom: 1px Solid #D3D3D3;
	border-right-width: 0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 6px 10px;
}

.dxgvFilterRow_MyDefault td.dxgv
{
	border-bottom: 1px Solid #C1C1C1;
	border-right: 1px Solid #C1C1C1;
	border-top-width: 0;
	border-left-width: 0;
	padding: 2px;
	overflow: hidden;
}
.dxgvGroupRow_MyDefault
{
	background-color: #EDEDED;
}
.dxgvFocusedGroupRow_MyDefault
{
	background-color: #8D8D8D;
	color: White;
}
.dxgvGroupRow_MyDefault td.dxgv,
.dxgvFocusedGroupRow_MyDefault td.dxgv
{
	border: 0 none;
	vertical-align: middle;
	white-space: nowrap;
	border-bottom: 1px Solid #D3D3D3;
	padding: 3px 6px 4px;
}
.dxgvFocusedRow_MyDefault td.dxgvIndentCell,
.dxgvFocusedGroupRow_MyDefault td.dxgvIndentCell,
.dxgvSelectedRow_MyDefault td.dxgvIndentCell
{
	background-color: #EDEDED!important;
	border-right: 1px solid #CFCFCF;
	border-left: 1px solid #CFCFCF;
	border-top-width: 0px;
}
.dxgvHeaderPanel_MyDefault
{
	background-color: #F9F9F9;
	color: Black;
	padding: 8px 6px;
	border-bottom: 1px Solid #9F9F9F;
}

.dxgvMSDraggable_MyDefault .dxgvHeader_MyDefault,
.dxgvMSDraggable_MyDefault.dxgvGroupPanel_MyDefault
{
    -ms-touch-action: pinch-zoom;
}
.dxgvHeader_MyDefault
{
	cursor: pointer;
	white-space: nowrap;
	padding: 4px 6px;
	border: 1px Solid #9F9F9F;
	background-color: #DCDCDC;
	overflow: hidden;
	font-weight: normal;
	text-align: left;
}
.dxgvHeader_MyDefault,
.dxgvHeader_MyDefault table
{
	color: Black;
}
.dxgvHeader_MyDefault td
{
	white-space: nowrap;
}
.dxgvHeader_MyDefault a
{
	color: #0d45b7;
}
.dxgvCustomization_MyDefault, 
.dxgvPopupEditForm_MyDefault
{
	padding: 0;
	margin: 0;
}
.dxgvGroupPanel_MyDefault
{
	white-space: nowrap;
	background-color: #EDEDED;
	color: #8D8D8D;
	border-bottom: 1px Solid #9F9F9F;
	padding: 7px 4px 8px 6px;
}
.dxgvFooter_MyDefault
{
	background-color: #D7D7D7;
	white-space: nowrap;
}
.dxgvFooter_MyDefault td.dxgv
{
	padding: 5px 6px 6px;
	border-bottom: 1px Solid #BCBCBC;
	border-right-width: 0;
}
.dxgvGroupFooter_MyDefault
{
	background-color: #E0E0E0;
}
.dxgvGroupFooter_MyDefault td.dxgv
{
	white-space: nowrap;
}
.dxgvGroupFooter_MyDefault td.dxgv
{
	padding: 5px 4px 6px 6px;
	border-bottom: 1px Solid #CFCFCF;
	border-right-width: 0;
}
.dxgvDataRow_MyDefault td.dxgvIndentCell,
.dxgvGroupRow_MyDefault td.dxgvIndentCell,
.dxgvGroupFooter_MyDefault td.dxgvIndentCell
{
	background-color: #EDEDED;
	border-right: 1px Solid #CFCFCF;
	border-left: 1px Solid #CFCFCF;
	border-top-width: 0px;
}

.dxgvTitlePanel_MyDefault, 
.dxgvTable_MyDefault caption
{
	font-size: 15px;
	font-weight: normal;
	padding: 3px 3px 5px;
	text-align: center;
	background-color: #ACACAC;
	color: White;
	border-bottom: 1px Solid #9F9F9F;
}
.dxgvLoadingDiv_MyDefault
{
	background-color: Gray;
	opacity: 0.01;
	filter: alpha(opacity=1);
}
.dxgvStatusBar_MyDefault
{
	border-top: 1px Solid #9F9F9F;
}
.dxgvStatusBar_MyDefault tr.dxgv
{
	height: 20px;
}
.dxgvStatusBar_MyDefault tr.dxgv > td
{
	padding: 4px;
}
.dxgvCommandColumn_MyDefault
{
	padding: 2px;
}
.dxgvCommandColumn_MyDefault a
{
	margin: 0 3px 0 0;
	color: #0d45b7;
}
.dxgvCommandColumn_MyDefault a:hover
{
	color: #5494ea;
}

.dxgvCommandColumnItem_MyDefault
{
}
.dxgvEditFormTable_MyDefault
{
	padding: 2px 6px 6px 4px;
	font-size: 11px;
	color: Black;
}
.dxgvEditFormTable_MyDefault a
{
	color: #0d45b7;
}
.dxgvEditFormTable_MyDefault a:hover
{
	color: #5494ea;
}

.dxgvEditFormCaption_MyDefault
{
	padding: 4px 4px 4px 10px;
	white-space: nowrap;
}

.dxgvInlineEditCell_MyDefault
{
	padding: 1px;
}

.dxgvEditFormCell_MyDefault
{
	padding: 4px;
	border-width: 0;
}

.dxgvPagerTopPanel_MyDefault,
.dxgvPagerBottomPanel_MyDefault
{
	padding-top: 4px;
	padding-bottom: 4px;
}

.dxgvDetailButton_MyDefault
{
}

.dxgvFilterBar_MyDefault
{
	border-top: 1px solid #9F9F9F;
	background: #d4d4d4 none;
}
.dxgvFilterBar_MyDefault a
{
	color: #394ea2;
	text-decoration: underline;
}
.dxgvFilterBarCheckBoxCell_MyDefault
{
	padding: 0 7px 0 3px;
}
.dxgvFilterBarImageCell_MyDefault
{
	padding: 0 1px 0 3px;
	cursor: pointer;
}
.dxgvFilterBarExpressionCell_MyDefault
{
	padding: 5px 5px 8px 0;
	white-space: nowrap;
}
.dxgvFilterBarClearButtonCell_MyDefault
{
	padding: 5px 6px 8px;
}
.dxgvFilterBuilderMainArea_MyDefault
{
	background: white none;
	padding: 6px 2px;
} 
.dxgvFilterBuilderButtonArea_MyDefault
{
	background: #ededed none;
	border-top: 1px solid #cfcfcf;
	padding: 6px;
	white-space: nowrap;
}

.dxgvDataRowHover_MyDefault
{
	background: #cfcfcf none;
	color: Black;
}


.dxgvControl_MyDefault .dxpControl_MyDefault td.dxpCtrl_MyDefault, 
.dxgvDisabled_MyDefault .dxpControl_MyDefault td.dxpCtrl_MyDefault,

.dxgvControl_MyDefault .dxpLite_MyDefault,
.dxgvDisabled_MyDefault .dxpLite_MyDefault
{
	padding-top: 4px;
}
.dxgvControl_MyDefault .dxpControl_MyDefault.dxpPSI td.dxpCtrl_MyDefault,
.dxgvDisabled_MyDefault .dxpControl_MyDefault.dxpPSI td.dxpCtrl_MyDefault
{
    *padding-top: 2px;
}

.dxgvControl_MyDefault .dxgvHFSAC
{
    padding: 9px 0 0 4px;
}
.dxgvControl_MyDefault .dxgvHFSC
{
    padding: 9px 0 6px;
}
.dxgvControl_MyDefault .dxgvHFSC div
{
    height: 1px;
    background: #8b8b8b;
}

/* Removes flicking in iOS Safari*/
.dxgvTable_MyDefault
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.dxgvControl_MyDefault div[id$='DXEPLPC']
{
    height: 45px;
}


.dxgvControl_MyDefault td.dxgvBatchEditCell_MyDefault
{
    padding: 0;
}
.dxgvControl_MyDefault td.dxgvBatchEditModifiedCell_MyDefault
{
    background: #d7f9c7;
}
.dxgvControl_MyDefault .dxgvErrorCell_MyDefault
{
    padding-left: 5px;
    width: 1px;
}
.dxgvControl_MyDefault .dxgvErrorCell_MyDefault img
{
    margin: -3px 0;
}
.dxgvStatusBar_MyDefault .dxgvCommandColumn_MyDefault a
{
    margin-right: 10px;
}
